<mat-progress-bar mode="determinate" value={{returnCurrentProgress()}}></mat-progress-bar>
<div class="question" *ngIf="completeJson">
  <div *ngIf="showFeedback===false" class="questionText">
    {{completeJson["questions"]["question" + currentQuestion]?completeJson["questions"]["question" + currentQuestion]["textvalue"]:"Keine Frage verfügbar"}}
  </div>
  <div class="answer"
    *ngFor="let answer of this.completeJson['questions']['question' + currentQuestion]?.answers; let i = index">
    <button [ngClass]="this.version==='child' ? 'buttonChild': ''" [disabled]="!currentAudio.paused"
      (click)="answerSelect(answer,i)" *ngIf="showFeedback===false">
      {{answer?.text}}
    </button>
  </div>
  <div *ngIf="showFeedback===true">
    {{selectedAnswer?.feedback}}
    <br>
    <button [disabled]="!currentAudio.paused" (click)="stepAfterFeedback()">
      {{"weiter"}}
    </button>
  </div>
</div>
