.question {
  margin: auto;
  margin-top: 15%;
  text-align: center;
  height: 20%;
  max-width: 15%;
  transform: scale(3);

  //.questionText {}

  .answer {
    margin-top: 10%;

    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgb(204, 217, 235);
      border: none;
      border-radius: 10px;
      font-size: large;
    }
    .buttonChild{
      background-color: rgb(255, 246, 167);
    }
  }
}
