<div *ngIf="step<=1" id="greetings">
  <div>
    {{returnCurrentText()}}
  </div>
  <br>
  <br>
  <button class="buttonStep" [disabled]="step==1" (click)='changeStep(1);playAudio()'>
    <img src="assets/icons/step.png" alt="hallo">
  </button>
</div>

<div class="question" *ngIf="step>=2">
  <div class="questionText">{{returnCurrentQuestion().textvalue}}</div>
  <div class="answer" *ngFor="let answer of returnCurrentQuestion().answers">
    <button (click)='chooseVersion(answer)'>
      {{answer}}
    </button>
  </div>
</div>


<!--
<div id="2step" *ngIf="step===3">
  <div>
    <app-mainpart></app-mainpart>
  </div>
  <br>
  <br> -->
