#greetings {
  margin: auto;
  margin-top: auto;
  text-align: center;
  max-height: 20%;
  max-width: 20%;
  padding-top: 9%;
  transform: scale(3);

  // border: 3px solid black;
  div {
    padding: 15px;
    color: black;
    background-color: rgb(204, 217, 235);
    font-size: large;
    //border: 1px solid black;
    border-radius: 35px;
  }
}

.question {
  margin: auto;
  margin-top: 15%;
  text-align: center;
  height: 20%;
  max-width: 15%;
  transform: scale(3);

  //.questionText {}

  .answer {
    margin-top: 10%;

    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgb(204, 217, 235);
      border: none;
      border-radius: 10px;
      font-size: large;
    }
  }
}
.buttonStep {
  background-color: white;
  border: none;
  img {
    max-width: 70px;
    max-height: 70px;
  }
}
