<div *ngIf="step===0" id="greetings">
  <div>
    {{returnCurrentText()}}
  </div>
  <br>
  <br>
  <button (click)='changeStep(1)'>
    <mat-icon>time_to_leave</mat-icon>
  </button>
</div>

<div class="question" *ngIf="step>=1">
  <div class="questionText">{{returnCurrentQuestion().textvalue}}</div>
  <div class="answer" *ngFor="let answer of returnCurrentQuestion().answers">
    <button (click)='chooseVersion(answer)'>
      {{answer}}
    </button>
  </div>
</div>


<!--
<div id="2step" *ngIf="step===3">
  <div>
    <app-mainpart></app-mainpart>
  </div>
  <br>
  <br> -->
